DB_PASSWORD =
  DB_USER =
  MONGODB_URI =
  CLOUDINARY_NAME =
  CLOUDINARY_API_KEY =
  CLOUDINARY_SECRET_KEY =
  ADMIN_EMAIL =
  ADMIN_PASSWORD =
  JWT_SECRET =
  RAZORPAY_KEY =
    "";
RAZORPAY_SECRET = "";
CURRENCY = "INR";
PAYTM_MERCHANT_KEY = "your_merchant_key";
PAYTM_MID = "your_merchant_id";
PAYTM_WEBSITE_STAGING = "WEBSTAGING";
PAYTM_WEBSITE_PROD = "DEFAULT";
PAYTM_HOST_STAGING = "https://securegw-stage.paytm.in";
PAYTM_HOST_PROD = "https://securegw.paytm.in";
